
    body {
    background-color: black;
}
    p {
    font-family: 'roboto'; font-size: 22px;
    color: white;
}
    h1 {
    font-family: 'roboto';
    font-size: 40px;
    white;
}
    h2 {
    font-size: 60px; 
    text-align: center;
    font-family: 'roboto';
    white;
}
    .myBox {
    border: black;
    padding: 5px;
    font: 24px/36px 'Roboto';
    width: 450px;
    height: 250px;
    overflow: auto;
        color: white;
}
    .outsideLine {
    width:1850px;
    margin:0;
    padding:10px 25px;
    border:5px solid
    color: white;
}
.rickey {
display: flex;
flex-direction: row;
justify-content: space-evenly;
black;
}
