::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #b1b1b1;
}
::-webkit-scrollbar-thumb:active {
    background-color: #646464;
}
::-webkit-scrollbar-track {
    background-color: black;
}
body {
    background-color: black;
}
    p {
    font-family: 'roboto'; font-size: 22px;
    color: white;
    padding: 10px;
}
    h1 {
    font-family: 'roboto';
    font-size: 40px;
    color: white;
    padding: 10px;
}
    h2 {
    font-size: 60px; 
    text-align: center;
    font-family: 'roboto';
    color: white;
}
    .myBox {
    border: black;
    padding: 10px;
    font: 24px/36px 'Roboto';
    width: 440px;
    height: 250px;
    overflow: auto;
    color: white;
}
.rickey {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
       border: black;
     resize: horizontal;
    overflow: auto;
    }
.socialMedia {
font-family: "Roboto";
text-decoration: none;
margin-left: 10px;
transition-duration: .5s;
}
.socialMedia:hover:first-child {
color: rgb(255, 0, 255);
}
.socialMedia:hover:last-child {
color: rgb(255, 0, 255);
}
.socialMedia:first-child {
color: purple;
}
.socialMedia:last-child {
color: red;
}
.penis {
border: none; 
width: 100px;
height: 100px; 
display: inline-block; 
background-color: red;
transition-duration: .1s;
box-shadow: none;
font-size: 30px;
font-family: "Roboto";
}
.penis:active {
transform: translateY(2px);
background-color: rgb(255, 0, 255);
color: white;
width: 1000px;
}
.penis:hover {
cursor: pointer;
}

