@import url('https://fonts.googleapis.com/css2?family-Roboto');

body {
    background-color: white;
}
    p {
    font-family: "roboto"; font-size: 22px;
}
    h1 {
    font-family: 'roboto';
    font-size: 40px;
}
    h2 {
    font-size: 60px; 
    text-align: center;
    font-family: 'roboto';
}
    .myBox {
    border: black;
    padding: 5px;
    font: 24px/36px 'roboto';
    width: 440px;
    height: 250px;
    overflow: auto;
}
    .outsideLine {
    width:1850px;
    margin:0;
    padding:10px 25px;
    border:5px solid white;
}
.rickey {
display: flex;
flex-direction: row;
justify-content: space-evenly;
    border: black;
}
.socialMedia {
font-family: 'roboto';
}
